@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFFFF;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button:focus,
input:focus {
  outline: 2px solid #07B0FB;
  outline-offset: 2px;
}

button {
  transition: all ease-out 300ms;
}